<!DOCTYPE html>
<html lang="CH-ZN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="main">
        <form @submit.prevent="demo">
            <div>
                <!-- v-model.trim实现去除多余空格 -->
                账号: <input type="text" name="account" v-model.trim="user.account">
            </div>
            <div>
                密码: <input type="password" name="pwd" v-model="user.pwd">
            </div>
            <div>
                性别:
                男<input type="radio" name="sex" value="男" v-model="user.sex">
                女<input type="radio" name="sex" value="女" v-model="user.sex">
            </div>
            <div>
                <!-- v-model.number配合type='number'使用，实现值为数字 -->
                年龄: <input type="number" name="age" v-model.number="user.age">
            </div>
            <div>
                爱好:
                学习<input type="checkbox" name="hobby" value="study" v-model="user.hobbies">
                打游戏<input type="checkbox" name="hobby" value="game" v-model="user.hobbies">
                吃饭<input type="checkbox" name="hobby" value="eat" v-model="user.hobbies">
            </div>
            <div>
                <select v-model="user.area">
                    <option v-for="(a, index) in areas" :key="index">
                        {{a}}
                    </option>
                </select>
            </div>
            <div>
                其他: <textarea v-model.lazy="user.other"></textarea>
            </div>
            <button>submit</button>
        </form>
    </div>
</body>

<script>
    const vm = new Vue({
        el: '#main',
        data() {
            return {
                user: {
                    account: '',
                    pwd: '',
                    age: '',
                    sex: '',
                    hobbies: [],
                    area: '',
                    other: ''
                },
                areas: ['上海', '北京', '武汉'],
            }
        },
        methods: {
            demo() {
                console.log(JSON.stringify(this.user));
            }
        },
    })
</script>

</html>